section.hero
    .hero__container
        .hero__left
            p.hero__text-main() <strong>Рассчитаем стоимость</strong> комплектующих и установки <strong>системы заземления</strong> за 1 день
            p.hero__text() Получите подробную смету ответив <br>всего на 5 простых вопросов
            a.hero__button-link(href="#" role="button") Получить расчет
            .hero__pic-mobile
                picture
                    source(srcset=require("../../images/house.avif")  type="image/avif")
                    source(srcset=require("../../images/house.webp")  type="image/webp")
                    img.hero__pic2(src=require("../../images/house.png") alt="house")
                //- img.hero__logo(src=require("../../images/logo.png") alt="voltstream" aria-hidden="true")
            .hero__features
                .features
                    .features__item
                        img.features__icon#starImg(src=require("../../images/icons/star.svg") alt="star" title="star")
                        p.features__text Собственное <br>производство
                    .features__item
                        img.features__icon#cartImg(src=require("../../images/icons/cart.svg") alt="cart" title="cart")
                        p.features__text Наличие товара <br>на складе
                    .features__item
                        img.features__icon#documentImg(src=require("../../images/icons/document.svg") alt="document" title="document")
                        p.features__text Выдаем всю <br>документацию
        .hero__right
            picture
                source(srcset=require("../../images/house.avif") type="image/avif")
                source(srcset=require("../../images/house.webp") type="image/webp")
                img.hero__pic(src=require("../../images/house.png") alt="house")
            img.hero__logo(src=require("../../images/logo.png") alt="voltstream" aria-hidden="true")
